<!DOCTYPE html>
<html>
<head>
  <title>Alsam mi ki</title>
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/result_style.css')}}">
</head>
<body>
  {{block body}}

  {{end block}}
<script type="text/javascript" src="{{=URL('static', 'js/jquery.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'js/script.js')}}"></script>
</body>
</html>
